<div class="About-Section">
  <div class="About-title-icon">
    <h2 class="About-title">About</h2>
    <i id="About-pen" class="fas fa-pen"></i>
  </div>
  <p class="About-Info">{{@about}}

    <span id="dots4">...</span><span id="more4">
     {{@moreabout}}</span><br
    />
    <button onclick="myFunction4()" id="myBtn4" class="button-21">Read More
    </button>
  </p>

</div>