
        <div class="License-Section">
          <div class="Lic-title-icon">
            <h2 class="Lic-title">Licenses
              <span>&#38;</span>
              certifications</h2>
            <i id="Lic-plus" class="fas fa-plus"></i>
          </div>
          <div class="Lic-sub-section">
            <img class="Lic-logo" src="CodePath_logo.jpeg" />
            <div class="Lic-sub-content">
              <div class="Lic-title-bar">
                <div class="Lic-sub-title-icon">
                  <h3 class="Lic-sub-title">CodePath IOS Development</h3>
                  <i id="Lic-pen" class="fas fa-pen"></i>
                </div>
                <h4 class="Lic-company">CodePath</h4>
                <h4 class="Lic-year">Issued Dec 2021
                  <span>&#183;</span>
                  No Expiration Date</h4>
                <h4 class="Lic-pdf"><a class="Link-pdf" href="">See Credential</a></h4>
              </div>
            </div>
          </div>

          <div class="Lic-sub-section">
            <img class="Lic-logo" src="CodePath_logo.jpeg" />
            <div class="Lic-sub-content">
              <div class="Lic-title-bar">
                <div class="Lic-sub-title-icon">
                  <h3 class="Lic-sub-title">CodePath Android Development</h3>
                  <i style="opacity:0;" id="Lic-pen" class="fas fa-pen"></i>
                </div>
                <h4 class="Lic-company">CodePath</h4>
                <h4 class="Lic-year">Issued Dec 2021
                  <span>&#183;</span>
                  No Expiration Date</h4>
                <h4 class="Lic-pdf"><a class="Link-pdf" href="">See Credential</a></h4>
              </div>
            </div>
          </div>

          <div class="Lic-sub-section">
            <img class="Lic-logo" src="Microsoft_logo.jpeg" />
            <div class="Lic-sub-content">
              <div class="Lic-title-bar">
                <div class="Lic-sub-title-icon">
                  <h3 class="Lic-sub-title">Microsoft Reach Design Mentoring
                    Program</h3>
                  <i style="opacity:0;" id="Lic-pen" class="fas fa-pen"></i>
                </div>
                <h4 class="Lic-company">Microsoft</h4>
                <h4 class="Lic-year">Issued Dec 2021
                  <span>&#183;</span>
                  No Expiration Date</h4>
                <h4 class="Lic-pdf"><a class="Link-pdf" href="">See Credential</a></h4>
              </div>
            </div>
          </div>

          <div class="Lic-sub-section">
            <img class="Lic-logo" src="ATT_logo.jpeg" />
            <div class="Lic-sub-content">
              <div class="Lic-title-bar">
                <div class="Lic-sub-title-icon">
                  <h3 class="Lic-sub-title">AT<span>&#38;</span>T Summer
                    Learning Academy Extern</h3>
                  <i style="opacity:0;" id="Lic-pen" class="fas fa-pen"></i>
                </div>
                <h4 class="Lic-company">AT<span>&#38;</span>T</h4>
                <h4 class="Lic-year">Issued Aug 2021
                  <span>&#183;</span>
                  No Expiration Date</h4>
                <h4 class="Lic-last-pdf"><a class="Link-pdf" href="">See
                    Credential</a></h4>
              </div>
            </div>
          </div>
        </div>

