{{!-- Linkedin Skills Section --}}

    <div class="Skill-sub-section">
        <div class="Skill-sub-title-group">
            <h4 class="Skill-sub-title">{{@language}}</h4>
            <h4 class="num-endorsments"><span id="skill-num-seperation">&#183;</span> 2</h4>
        </div>
        <div class="Endorser">
            <h5 class="Endorsed-type-skill"><span class="Number-Endorsers">{{@connection}}</span> have given endorsements for this skill</h5>
        </div>
        <div class="group-icon-assesment">
            <i id="Clipboard-icon" class="fas fa-clipboard-check fa-lg"></i>
            <h5 class="Skill-Assesment">LinkedIn Skill Assessment badge</h5>
        </div>
    </div>
<hr class="Skill-line-spacing">




