
      <div class="skills_section">

        <div class="Container Edu-sub-title-icon">
          <h5>Tools &amp; Technology</h5>
          <button tabindex="0"  onclick="alert('Add a skill')"class="btnskill default">Add a technology</button>
          <i id="pen-edit" class="fas fa-pen"></i>

        </div>

        <button  tabindex="0" type="button" class="button-81">Take a technology quiz</button>
        {{! <button  type="button" class="button-81" data-bs-toggle="modal" data-bs-target="#staticBackdrop"    >Take a skill quiz</button> }}

        <p class="Section-details">
          <div class = "col title-icon techskills-title">
                <img class="techskills-title-icon" src="os.png" alt="operating system" height="30px"/>
        <h6>Operation System</h6>
     
        </div>
          <p class="techskills-list">Mac OS <br>
            Windows<br>
          Linix</p>
        </p>
        <p class="Section-details">

                 <div class = "col title-icon techskills-title">
                        <img class="techskills-title-icon" src="framwork.png" alt="Frame work" height="30px"/>
       <h6>Frameworks</h6>
    
        </div>
       
           <p class="techskills-list">bootstrap<br>
              Express.js<br>
              React</p>
        </p>
              <p class="Section-details">
                
                 <div class = "col title-icon techskills-title">
       <h6>Coding Language </h6>
    </div>
 <img src="html.png" alt="Frame work" height="40px" class= "imagecode techskill-code--first"/>
 <img src="java.png" alt="Frame work" height="40px" class= "imagecode"/>
 <img src="js.png" alt="Frame work" height="40px" class= "imagecode"/>
        
             </p>
      </div>
