.c{
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgb(213, 218, 205);
}

.btn1{
    float:right;
}

.btn2{
    float:right;
}

.c-text2{
    color: #adadad;
    font-weight: 400;
}

#left{  
    float:left;
    padding-left: 20px;
} 

#right{ 
    margin-left:200px; 
    height:100%;
}