* {
  margin: 0;
  padding: 0;
}

/* Linkedin Profile Section */

.Profile-Section {
  background-color: white;
  outline-style: solid;
  outline-color: #cfcfcf;
  outline-width: thin;
  /* max-width: 800px; */
  max-width: 1000px;
  min-width: 350px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.02s;
  margin-left: 5px;
}

.profile-bg-color {
  background-color: #0a66c2;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 50px;
}

#Profile-pen {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-top: 20px;
  padding-right: 20px;
  /* padding-bottom: 10px; */
  width: 100%;
}

#Profile-icon-pen {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #0a66c2;
  /* color: white; */
}

.Profile-image-icon {
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
  background-image: none;
  background-color: #0a66c2;
}

.Profile-image {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  /* border: solid white; */
}

.group-bg-profile {
  display: flex;
  flex-direction: column;
}

.Profile-title {
  font-size: 24px;
  font-weight: 600;
}

.Profile-proffesion {
  font-size: 16px;
  font-weight: 400;
}

.Profile-location {
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}

.contact-info {
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  color: #0a66c2;
}

.num-connections-link {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  color: #0a66c2;
}

.Profile-logo-company {
  width: 40px;
  height: 40px;
}

.Profile-logo-college {
  width: 40px;
  height: 40px;
}
.Profile-company {
  font-size: 16px;
  font-weight: 600;
}

.Profile-college {
  font-size: 16px;
  font-weight: 600;
}

.open-button {
  text-decoration: none;
  color: inherit;
  color: white;
  background-color: #0a66c2;
  font-size: 16px;
  font-weight: 600;
  outline-style: solid;
  border-radius: 20px;
  padding: 5px;
}

.add-button {
  text-decoration: none;
  color: inherit;
  color: #6e6e6e;
  font-size: 16px;
  font-weight: 600;
  outline-style: solid;
  outline-width: thin;
  border-radius: 20px;
  padding: 5px;
}

.more-button {
  text-decoration: none;
  color: inherit;
  color: #6e6e6e;
  font-size: 16px;
  font-weight: 600;
  outline-style: solid;
  outline-width: thin;
  border-radius: 20px;
  padding: 5px;
}

.button-group {
  display: flex;
  padding-bottom: 20px;
}

.profile-logo-proffession-grouping {
  display: flex;
}

.profile-sub-grouping {
  display: flex;
  padding-bottom: 10px;
}

.logo-title-grouping {
  margin-left: 50px;
}

.Profile-company {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.Profile-college {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.click-item-2 {
  padding-left: 10px;
}

.click-item-3 {
  padding-left: 10px;
}

.profile-content-group {
  padding-left: 20px;
}

/* Linkedin About Section */

.About-Section {
  background-color: white;
  outline-style: solid;
  outline-color: #cfcfcf;
  outline-width: thin;
  /* max-width: 800px; */
  /* max-width: 1000px;
  min-width: 350px; */
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.02s;
  margin-top: 20px;
  padding-bottom: 10px;
}

.About-title {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
}

.About-title-icon {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.About-Info {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

#About-pen {
  display: flex;
  align-items: center;
}

/* Linkedin Experience Section */

.Exp-Section {
  background-color: white;
  outline-style: solid;
  outline-color: #cfcfcf;
  outline-width: thin;
  /* max-width: 800px; */
  max-width: 1000px;
  min-width: 350px;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 20px;
  transition: 0.02s;
  margin-left: 5px;
}

.Exp-title {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
}

.Exp-title-icon {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.Exp-sub-section {
  display: flex;
  padding-left: 20px;
}

.Exp-last-sub-section {
  display: flex;
  padding-left: 20px;
  border-bottom: 1px solid #cfcfcf;
}

.Exp-sub-title-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}

.Exp-logo {
  width: 56px;
  height: 56px;
}

.Exp-sub-title {
  font-size: 16px;
  font-weight: 600;
  padding-top: 2px;
  margin-bottom: 2px;
}

.Exp-company {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
}

.Exp-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
}

.Exp-location {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.Exp-info {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 10px;
  padding-right: 20px;
}

#Exp-info-last {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-right: 20px;
}

.Exp-sub-content {
  padding-left: 20px;
  width: 100%;
}

.Exp-title-location {
  padding-bottom: 5px;
}

#Exp-plus {
  display: flex;
  align-items: center;
}

#Exp-pen {
  display: flex;
  align-items: center;
}

/* Linkedin Education Section */

.Edu-Section {
  /* max-width: 800px; */
  max-width: 1000px;
  min-width: 350px;
  height: auto;
  margin-bottom: 20px;
  transition: 0.02s;
}

.Edu-Lic {
  margin-top: 0px;
  margin-bottom: 10px;
}

.Edu-title {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
}

.Edu-title-icon {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.Edu-sub-section {
  display: flex;
  padding-left: 20px;
}

.Edu-sub-title-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}

.Edu-logo {
  width: 56px;
  height: 56px;
}

.Edu-sub-title {
  font-size: 16px;
  font-weight: 600;
  padding-top: 2px;
  margin-bottom: 2px;
}

.Edu-degree {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
}

.Edu-year {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cfcfcf;
}

.Edu-last-year {
  font-size: 14px;
  font-weight: 400;
}

/* #Edu-bar {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  padding-right: 20px;
  justify-content: end;
} */

/* #Edu-last-bar {
  width: 100%;
  display: flex;
  padding-right: 20px;
  justify-content: end;
} */

.Edu-info {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-right: 20px;
}

.Edu-sub-content {
  padding-left: 20px;
  width: 100%;
}

.Edu-title-bar {
  padding-bottom: 5px;
}

#Edu-plus {
  display: flex;
  align-items: center;
}

#Edu-pen {
  display: flex;
  align-items: center;
}

/* Linkedin Licenses Section */

.License-Section {
  background-color: white;
  outline-style: solid;
  outline-color: #cfcfcf;
  outline-width: thin;
  height: auto;
  transition: 0.02s;
  padding-top: 20px;
  border-radius: 10px;
}

.Lic-title {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
}

.Lic-title-icon {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.Lic-sub-section {
  display: flex;
  padding-left: 20px;
}

.Lic-last-sub-section {
  display: flex;
  padding-left: 20px;
  border-bottom: 1px solid #cfcfcf;
}

.Lic-sub-title-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}

.Lic-logo {
  width: 56px;
  height: 56px;
}

.Lic-sub-title {
  font-size: 16px;
  font-weight: 600;
  padding-top: 2px;
  margin-bottom: 2px;
}

.Lic-sub-content {
  padding-left: 20px;
  width: 100%;
}

.Lic-company {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
}

.Lic-year {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
  padding-right: 50px;
  margin-right: 50px;
}

.Lic-pdf {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #cfcfcf;
}

.Lic-last-pdf {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 600;
}

.Link-pdf {
  text-decoration: none;
  color: inherit;
}

#Lic-plus {
  display: flex;
  align-items: center;
}

#Lic-pen {
  display: flex;
  align-items: center;
}

/* Linkedin Skills Section */

.Skills-Section {
  background-color: white;
  outline-style: solid;
  outline-color: #cfcfcf;
  outline-width: thin;
  /* max-width: 800px; */
  max-width: 1000px;
  min-width: 350px;
  height: auto;
  min-height: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.02s;
  margin-left: 5px;
}

.Skill-title-icon {
  display: flex;
  align-items: center;
}

#Skill-pen {
  display: flex;
  align-items: center;
}

.Skill-title {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
}

.Skill-add {
  font-size: 16px;
  font-weight: 600;
  background: #ffffff;
  color: #6e6e6e;
  padding-right: 30px;
  padding-left: 10px;
  padding-top: 5px;
}

#quiz-item {
  text-decoration: none;
  color: inherit;
  color: #0a66c2;
  font-size: 16px;
  font-weight: 600;
  outline-style: solid;
  outline-color: #024990;
  outline-width: thin;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  align-items: center;
  vertical-align: middle;
}

.Skill-button {
  padding-left: 20px;
}

.Skill-title {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
}

.Skill-title-icon {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  /* padding-bottom: 10px; */
  display: flex;
  justify-content: space-between;
}

.Skill-item-group {
  display: flex;
}

.Skill-sub-title-group {
  display: flex;
  padding-left: 20px;
  padding-top: 15px;
}

.Skill-sub-title {
  font-size: 16px;
  font-weight: 600;
}

.num-endorsments {
  font-size: 14px;
  font-weight: 400;
  color: #6e6e6e;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.Endorser {
  /* display: flex; */
  padding-left: 20px;
}

.Number-Endorsers {
  font-size: 14px;
  font-weight: 600;
}

.Endorsed-type-skill {
  font-size: 14px;
  font-weight: 400;
  padding-left: 3px;
}

#Clipboard-icon {
  color: #0a66c2;
}

.Skill-Assesment {
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 1px;
}

.group-icon-assesment {
  display: flex;
  padding-left: 20px;
  width: 100%;
}

#skill-num-seperation {
  padding-right: 5px;
}

.Skill-line-spacing {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.Extra-skills {
  font-size: 16px;
  font-weight: 400;
  color: #6e6e6e;
  padding-left: 20px;
}

.Exra-num-endorsers {
  color: #6e6e6e;
  font-weight: 400 !important;
}

.Extra-skills-num-endorse {
  font-size: 16px;
  font-weight: 600;
}

.whole-skill-section {
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.second-section {
  padding-right: 40%;
}

.main-more-skills {
  margin-top: 10px;
  margin-bottom: 0px;
}

@media (max-width: 860px) {
  .Profile-Section {
    transition: 0.02s;
    margin-left: 0px;
  }

  .About-Section {
    transition: 0.02s;
    margin-left: 0px;
  }

  .Exp-Section {
    transition: 0.02s;
    margin-left: 0px;
  }

  .Edu-Section {
    transition: 0.02s;
    margin-left: 0px;
  }

  .Skills-Section {
    transition: 0.02s;
    margin-left: 0px;
  }

  .Edu-degree {
    width: 200px;
    word-wrap: break-word;
  }

  .whole-skill-section {
    display: flex;
    flex-direction: column;
  }

  .logo-title-grouping {
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }
}
