/* body {
  background-color: #c8d9db !important;
} */

.avatar {
  height: 200px;
  width: 12rem;
  border-radius: 50%;
  margin-left: 5rem;
  margin-top: 1rem;
  border: 7px solid #c8d9db;
}
.coverphoto {
  width: 100%;
  height: 150px;
  z-index: -1 !important;
}

.card {
  position: relative;
  background-color: #dceff2 !important;
  margin-top: -2rem;
  margin-left: 5rem;
  height: 27rem;
  color: #090166;
  /* font-family: monospace; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#roundcorners {
  border-radius: 25px;
  border: 2px;
}

.button-33 {
  background-color: #c8d9db;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(0, 45, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.camera {
  height: 0;
  width: 0;
  right: 15rem;
  left: auto;
  top: 100px;
  position: fixed;
}
#camera {
  height: 50px;
  width: 50px;
}

#btn-position {
  position: relative;
  margin-left: 60rem;
}
#dropdown-color {
  background-color: #c8d9db;
  text-shadow: cadetblue;
  box-shadow: 7px 7px 5px 5px grey;
}

/* .profilepic {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  } */
@media only screen and (max-width: 200px) {
  .coverphoto {
    width: 100%;
    /* object-fit: cover;
      object-position: bottom; */
  }
}
