@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Mulish:wght@200&family=Playfair+Display:wght@600&family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .container {
  background-color: rgb(204, 235, 245);
} */
.con {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/covercloud.jpg");
  padding-top: 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 100%;
  margin-right: 30px;
  background-color: white;
  z-index: -1;
}
h4 {
  font-family: "Playfair Display", serif !important;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(28, 30, 36);
}

.quote {
  text-align: center !important;
  font-style: italic;
}
.author {
  font-size: 20px;
}
hr {
  margin: 10px 0;
  width: 60%;
  border: 1px solid black;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.twitter-share-button {
  height: 50px !important;
  width: 150px !important;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  margin-left: 20px;
}

.twitter-share-button:hover {
  box-shadow: #09223b;
}
.tweet {
  border: 1px solid rgb(180, 178, 178);
  border-radius: 7px;
}
.camera1 {
  display: flex;
  justify-content: end;
  margin-right: -10px;
  margin-bottom: 50px;
  z-index: 0;
}
.camera {
  height: 0;
  width: 0;
  margin-left: -60px;
}
#camera {
  position: relative;
  height: 35px;
  width: 35px;
  margin-left: -50px;
}
#dropdown-color {
  box-shadow: 7px 7px 5px 5px grey;
  border-radius: 5px;
  /* text-align: center; */
}
/* .buttons button {
  cursor: pointer;
  border: none;
  color: rgb(212, 203, 230);
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(46, 46, 216);
  padding: 10px;
  border-radius: 4px;
} */

.avatar {
  position: relative;
  left: 70px;
  z-index: 0;
  height: 200px;
  width: 12rem;
  border-radius: 50%;
  margin-left: 55px;
  margin-top: -100px;
  border: 7px solid white;
}

.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}
.twitter-timeline {
  max-height: 630px;
}

/* new addition */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: rgb(202, 202, 202);
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: rgb(230, 53, 41);
  color: white;
}

/* Style the header */
.header {
  background-color: #eee;
  color: rgb(66, 65, 65);
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}

.header2 {
  padding-top: 15px;
}
.interest-list {
  border: 1px solid rgb(180, 178, 178);
  border-radius: 7px;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.new-paragraph {
  /* outline: 0.5px solid rgb(177, 175, 175); */
  /* text-align: center; */
  /* display: block; */
  /* margin-top: -85px; */
  /* justify-content: space-between;
  flex-wrap: wrap; */
  /* border: 1px solid rgb(180, 178, 178); */
  padding-top: 75px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.flexy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgb(180, 178, 178);
  border-radius: 10px;
  margin-top: -85px;
}
.second-head {
  margin-top: 65px;
  margin-right: 10px;
}

/* RSVP Button  */
.button-4 {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

/* Flex columns */
.flex-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.first {
  width: 70%;
  height: 100vh;
}

.second {
  width: 27%;
}

/* ADVERTISEMENT */
#ad-image {
  margin-top: 20px;
  margin-left: 3px;
}

@media only screen and (max-width: 585px) {
  .second-head {
    margin-left: 20px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 700px) {
  h4 {
    padding-left: 10px;
  }
}
