.style {
  font-size: 50;
}


.btnskill {
  border: none;
  background-color: inherit;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-left: 50%;
  margin-top: 0;

}
.skill-icon {
  text-align: end;
  width:10%;
  padding-right: 20px;
}

/* On mouse-over */
.btnskill:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
/* The Modal (background) */


.Parent {
  display: flex;
  flex-direction: row;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-left {
  width: 75%;
  height: 100vh;
}

.flex-right {
  width: 25%;
}
.child1 {
  width: 70%;
  height: 100vh;
  background-color: green;
  text-align: center;
  color: white;
}

.child2 {
  width: 30%;
  padding: 30px;
  height: 100vh;
  border: green solid 5px;
  margin: 50px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
h6{
  color: rgb(156, 150, 150);
  font-family:sans-serif;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.skills_section {
  background-color:white;
  outline-style: solid;
  outline-color: #cfcfcf;
  outline-width: thin;
  max-width: 800px;
  min-width: 350px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: .02s;
  margin-left: 30px;
  padding-top: 10pt;
  padding-left: 10pt;
  }

  /* CSS */
  .button-81 {
    background-color: rgb(240, 240, 240);
    border-color: rgb(76, 76, 214);
    margin-top: 10px;
    border-radius: 1.5rem;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 80%;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: rgb(11, 87, 201);
    padding: 12px 12px;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-81:hover {
    background-color: #7fa9da;
    color: #fff;
  }
  
  /* @media (min-width: 768px) {
    .button-81 {
      font-size: 1.125rem;
      padding: 1rem 2rem;
    }
  } */
  .take_quiz{
    margin-left:100pt

  }
/* @media (min-width: 768px) and (max-width: 1199.98px) {
    .container{
      max-width: 0;
    }
  } */
