{{! *********** Project section ************ }}
<div class="c">
  <div class="c-header">
    <div class="btn1">
      <i class="fas fa-plus"></i>
    </div>
    <h2>Project</h2>
  </div>

  <div class="btn2">
    <i class="fas fa-pen"></i>
  </div>


<br>
<div class="timeline">
  <div class="container1 right">
    <div class="content">
    <h4>
      LinkedIn
      <img src="linkedin-logo1.jpg" alt="linkedin-logo" height="20px"/>
   
    </h4>
       <div class="btn-group ">
        <button type="button" class="button-81 " >JavaScript</button>
        <button type="button" class="button-81">CSS</button>
        <button type="button" class="button-81">Html</button>
        </div>
      <h6 class="datetext-color">Jan 2022 - Present</h6>
     <p>Five interns worked together for three weeks on a LinkedIn 
       profile created<span id="dots">...</span><span id="more">
        specfically for students to find jobs and make connections 
        with others using Ember.js, HTML, CSS, and JAVASCRIPT.
        </span></p>


        <button onclick="myFunction()" id="myBtn" class="button-7">Read more</button>
        <br />
        <div class="right-bottom">
          <a href="#">
            See my project
          </a>
        </div>
      </div>
    </div>
    <div class="container1 right">
      <div class="content">
        <h4>
          CSC 211
          <img src="bmcc-logo.jpg" alt="bmcc" height="40px" />
        </h4>
        <h6 class="datetext-color">Dec 2021 - Dec 2021</h6>
        <p>Independently complete the final project for CSC 211 in one week.
          create a Date<span id="dots1">...</span><span id="more1">Project in
            C++ so that it can calculate what day of the week any date is, how
            many days have passed in the year, how many days are left, and what
            day all holidays are in any year, etc.</span></p>

        <button onclick="myFunction1()" id="myBtn1" class="button-7">Read more</button>
        <br />
        <div class="right-bottom">
          <a href="#">
            See my project
          </a>
        </div>
      </div>
    </div>
    <div class="container1 right">
      <div class="content">
        <h4>
          CIS 385
          <img src="bmcc-logo.jpg" alt="bmcc" height="40px" />
        </h4>
        <h6 class="datetext-color">Nov 2021 - Dec 2021</h6>
        <p>Independently complete a dynamic web page in three weeks, using HTML,
          CSS<span id="dots2">...</span><span id="more2">, JavaScript to make it
            work as a normal shopping process. For example: adding to the
            shopping cart, adding and removing items, calculating the final
            additions, completing the purchase, etc.</span></p>

        <button onclick="myFunction2()" id="myBtn2" class="button-7">Read more</button>
        <br />
        <div class="right-bottom">
          <a href="#">
            See my project
          </a>
        </div>
      </div>
    </div>
    <div class="container1 right">
      <div class="content">
        <h4>
          CSC 101
          <img src="bmcc-logo.jpg" alt="bmcc" height="40px" />
        </h4>
        <h6 class="datetext-color">Nov 2020 - Dec 2020</h6>
        <p>Complete the introduction of Android development system and
          additional<span id="dots3">...</span><span id="more3">extensions in
            one month. Introducing Application Framework, Libraries, Android
            Runtime, Linux Kernel, etc.</span></p>

        <button onclick="myFunction3()" id="myBtn3" class="button-7">Read more</button>
        <br />
        <div class="right-bottom">
          <a href="#">
            See my project
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
{{! *********** Project section end here ************ }}