{{!-- Kevin, please fill out!! --}}
{{!-- About Section of LinkedIn Profile Page --}}


<br>

{{!-- Experience Section of LinkedIn About Page --}}

<div class="About-Section Parent">
    <div class ="About-Space">
        <div class ="Container">
            <div class="Section-Header-About"><h2 class="Section-Header">About</h2></div>
            {{!-- <div class="Edit-Mark"><h2>check</h2></div> --}}
            <i id ="pen-edit" class="fas fa-pen"></i>
        </div>
        <br>
        <p class = "Section-details"> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
        deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
<br>

{{!-- Experience Section of LinkedIn Profile Page --}}

<div class ="Experience-Section">
    <div class ="Experience-txt">
        <h2 class="Section-Header">Experience</h2>
        <i class="fas fa-plus"></i>
    </div>
    <br><br><br>
    <div class ="Exp-info">
        {{!-- <i class ="fab fa-linkedin"></i> --}}
        <img class = "fab" src="https://media-exp1.licdn.com/dms/image/C560BAQHaVYd13rRz3A/company-logo_100_100/0/1638831589865?e=1649894400&v=beta&t=yofVmzWpbgeDoU_PFX-lTf-zNDElMoSnaaU96AspF5Y" width="70px">
        <div class ="Exp-cred">
            <div id ="title-edit">
                <h4>Software Engineer Intern</h4>
                <i id ="pen" class="fas fa-pen"></i>
            </div>
            <h5>LinkedIn <span>&#183;</span> Internship</h5>
            <h5 id ="Exp-date">Jan 2022 - Present <span>&#183;</span> 1 mo</h5>
            <p class ="Section-details">-Creating a Custom Linkedin Profile for students.</p>
        </div>
    </div>

    <hr>
    <div class ="Exp-info">
        <img class = "fab" src="https://media-exp1.licdn.com/dms/image/C560BAQHdbH3eNjDvUg/company-logo_100_100/0/1625136702487?e=1649894400&v=beta&t=zfFZLN5i1Jo8MLydoeQ6bcnRGWwId6z5sZbD0KUQSFU" width="70px">
        {{!-- <img class = "fab" src="https://media.glassdoor.com/sql/1523626/ripplematch-squarelogo-1565212178236.png" width="70px"> --}}
        {{!-- <i class ="fab fa-linkedin"></i> --}}
        <div class ="Exp-cred">
            <div id ="title-edit">
                <h4>Leadership Development Intern</h4>
                {{!-- <i id ="pen" class="fas fa-pen"></i> --}}
            </div>
            <h5>RippleMatch <span>&#183;</span> Internship</h5>
            <h5 id ="Exp-date">Oct 2021 - Nov 2021 <span>&#183;</span> 2 mos</h5>
            <p class ="Section-details">-Selected from a pool of thousands of candidates to work closely with leaders of RippleMatch’s Leadership Team.</p>
        </div>
    </div>
    <hr>
    <div class ="Exp-info">
        <img class = "fab" src="https://media-exp1.licdn.com/dms/image/C4D0BAQHiNSL4Or29cg/company-logo_100_100/0/1519856215226?e=1649894400&v=beta&t=cJwLpjFsgTmSd0fQi_0XWQXvxQRK6cBMU9S9bGRusdA" width="70px">
        {{!-- <i class ="fab fa-linkedin"></i> --}}
        <div class ="Exp-cred">
            <div id ="title-edit">
                <h4>Google CSSI</h4>
                {{!-- <i id ="pen" class="fas fa-pen"></i> --}}
            </div>
            <h5>Google <span>&#183;</span> Internship</h5>
            <h5 id ="Exp-date">Jul 2021 - Aug 2021 <span>&#183;</span> 2 mos</h5>
            <p class ="Section-details">-Participated in a 4-week intensive computer science summer program for high-achieving students</p>
        </div>
    </div>
    <hr>
</div>

