<footer class="py-5">
     <img src="logo.jpg" height="40px"/>
   <div class="row">
     <div class="col-2">
       <ul class="nav flex-column">
         <li class="nav-item mb-2"><a href="https://about.linkedin.com/" class="nav-link p-0 text-muted">About</a></li>
         <li class="nav-item mb-2"><a href="https://www.linkedin.com/legal/privacy-policy" class="nav-link p-0 text-muted">Privacy & Terms</a></li>
         <li class="nav-item mb-2"><a href="https://business.linkedin.com/sales-solutions?trk=flagship_nav&veh=li-footer-lss-control&src=li-footer" class="nav-link p-0 text-muted">Sales Solution</a></li>
         <li class="nav-item mb-2"><a href="https://safety.linkedin.com/" class="nav-link p-0 text-muted">Safety Center</a></li>
       </ul>
     </div>
 
     <div class="col-2">
       <ul class="nav flex-column">
         <li class="nav-item mb-2"><a href="https://www.linkedin.com/accessibility" class="nav-link p-0 text-muted">Accessibility</a></li>
         <li class="nav-item mb-2"><a href="https://careers.linkedin.com/" class="nav-link p-0 text-muted">Careers</a></li>
         <li class="nav-item mb-2"><a href="https://www.linkedin.com/help/linkedin/answer/62931" class="nav-link p-0 text-muted">Ad Choices</a></li>
         <li class="nav-item mb-2"><a href="https://mobile.linkedin.com/" class="nav-link p-0 text-muted">Mobile</a></li>
       </ul>
     </div>
 
     <div class="col-2">
       <ul class="nav flex-column">
         <li class="nav-item mb-2"><a href="https://business.linkedin.com/talent-solutions?trk=flagship_nav&veh=li-footer-lts-control&src=li-footer" class="nav-link p-0 text-muted">Talent Solutions</a></li>
         <li class="nav-item mb-2"><a href="https://business.linkedin.com/marketing-solutions/ads" class="nav-link p-0 text-muted">Advertising</a></li>
         <li class="nav-item mb-2"><a href="https://business.linkedin.com/grow?&src=li-footer" class="nav-link p-0 text-muted">Small Business</a></li>
         <li class="nav-item mb-2"><a href="https://www.linkedin.com/help/linkedin?trk=d_flagship3_profile_view_base" class="nav-link p-0 text-muted">Questions?</a></li>
       </ul>
     </div>
 
 
    <div class="col-5">
       <form>
         <div class="d-flex w-100 gap-2">
           Seclect Language
     <select id="inputStartDate" class="form-control">
       <option selected>English (English)</option>
       <option>Dansk (Danish)</option>
       <option>Deutsch (German)</option>
       <option>Español (Spanish)</option>
       <option>Français (French)</option>
       <option>Nederlands (Dutch)</option>
       <option>简体中文 (Chinese (Simplified)</option>
       <option>日本语 (Japanese)</option>
       <option>Italiano (Italian)</option>
       <option>Polski (Polish)</option>
       <option>Русский (Russian)</option>
       <option>Ελληνική (Greek)</option>
       <option>Svenska (Swedish)</option>
     </select>
         </div>
       </form>
     </div>
   </div>
 
   <div class="d-flex justify-content-between py-4 my-4 border-top">
     <p>LinkedIn Corporation &copy; 2022</p>
   </div>
 </footer>
 

