  {{! ****** Learning section start ******* }}

      <div class="c">
        <div class="c-header">
          <div class="btn1">
            <i class="fas fa-plus"></i>
          </div>
          <p><b>LinkedIn Learning Course</b></p>
        </div>

        <div class="btn2">
          <i class="fas fa-pen"></i>
        </div>

        <br />
        <div class="c-body">

          <div id="left1">
            <img src="SQL-logo.jpg" alt="SQL-logo" height="60px" />
          </div>
          <div id="right1">
            <h5 class="c-title">
              SQL Essential Traning</h5>
            <h6 class="c-text2">Completed 01/10/2022</h6>
            <hr />
          </div>

          <div id="left1">
            <img src="python-logo.jpg" alt="python-logo" height="60px" />
          </div>
          <div id="right1">
            <h5 class="c-title">
              Learning Python (2020)</h5>
            <h6 class="c-text2">Completed 12/05/2021</h6>
            <hr />
          </div>

          <div id="left1">
            <img src="excel-logo.jpg" alt="excel-logo" height="60px" />
          </div>
          <div id="right1">
            <h5 class="c-title">
              Excel: Lookup Function in Depth</h5>
            <h6 class="c-text2">Completed 08/14/2021</h6>
          </div>
        </div>

      </div>
      {{! ****** Learning section end here ******* }}