<div class="container">
  <div class="con">

    <h1>Genius is one percent inspiration and ninety-nine percent perspiration.</h1>
    <hr />
    <p class="author">Thomas Edison</p>
    <div class="buttons"><a
        class="twitter-share-button"
        href="https://twitter.com/intent/tweet?text=Hello%20world"
      > Tweet</a>
      <div class="camera1">
        <div class="btn-group dropend">
          <button
            type="button"
            class="camera dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="camera1.png" id="camera" alt="Responsive image" />
          </button>
          <ul class="dropdown-menu" id="dropdown-color">
            <li><a class="dropdown-item" href="#">Upload Photo</a></li>
            <li><a class="dropdown-item" href="#">Delete Photo</a></li>
            <li><a class="dropdown-item" href="#">Customize Photo</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <img src="pfp.jpg" alt="This is a small profile image of mk" class="avatar" />


</div>


<div class="About-Section">
    <div class="About-title-icon">
        <h2 class="About-title">About</h2>
        <i id ="About-pen" class="fas fa-pen"></i>
    </div>
        <p class="About-Info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
            inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
            ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem 
            vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
            vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </p>
</div>


<div class="Exp-Section">
    <div class="Exp-title-icon">
        <h2 class="Exp-title">Experience</h2>
        <i id="Exp-plus" class="fas fa-plus"></i>
    </div>
    {{!-- Linkedin Experience --}}
    <div class="Exp-sub-section">
        <img class="Exp-logo" src="Linkedin_logo.jpeg">
        <div class="Exp-sub-content">
            <div class="Exp-title-location">
                <div class="Exp-sub-title-icon">
                    <h3 class="Exp-sub-title">Software Engineer Intern</h3>
                    <i id ="Exp-pen" class="fas fa-pen"></i>
                </div>
                <h4 class="Exp-company">Linkedin <span>&#183;</span> Internship</h4>
                <h4 class="Exp-date">Jan 2022 - Present <span>&#183;</span> 1 mo</h4>
                <h4 class="Exp-location">New York, New York, United States</h4>
            </div>
            <p class="Exp-info">-Developing a Linkedin Profile for students</p>
        </div>
    </div>

    {{!-- RippleMatch Experience --}}

    <div class="Exp-sub-section">
        <img class="Exp-logo" src="RippleMatch_logo.jpeg">
        <div class="Exp-sub-content">
            <div class="Exp-title-location">
                <div class="Exp-sub-title-icon">
                    <h3 class="Exp-sub-title">Leadership Development Intern</h3>
                    <i id ="Exp-pen" class="fas fa-pen"></i>
                </div>
                <h4 class="Exp-company">RippleMatch <span>&#183;</span> Internship</h4>
                <h4 class="Exp-date">Oct 2021 - Nov 2021 <span>&#183;</span> 1 mo</h4>
                <h4 class="Exp-location">New York, New York, United States</h4>
            </div>
            <p class="Exp-info">
                -Selected from a pool of thousands of candidates to work closely with leaders of RippleMatch’s Leadership Team<br>
                -Leveraged various growth strategies and tools including social media, email marketing, presentations, and peer and faculty member networking to grow the user base and awareness on campus<br>
                -Strategically assessed growth and performance metrics to improve, change and/or help design new growth strategies
            </p>
        </div>
    </div>

    {{!-- Google Experience --}}

    <div class="Exp-sub-section">
        <img class="Exp-logo" src="Google_logo.jpeg">
        <div class="Exp-sub-content">
            <div class="Exp-title-location">
                <div class="Exp-sub-title-icon">
                    <h3 class="Exp-sub-title">Google CSSI</h3>
                    <i id ="Exp-pen" class="fas fa-pen"></i>
                </div>
                <h4 class="Exp-company">Google <span>&#183;</span> Internship</h4>
                <h4 class="Exp-date">July 2021 - August 2021 <span>&#183;</span> 2 mos</h4>
                <h4 class="Exp-location">New York, New York, United States</h4>
            </div>
            <p class="Exp-info">
                -Participated in a 4-week intensive computer science summer program for high-achieving students<br>
                -Completed an introductory project-based JavaScript processing curriculum taught by Google engineers<br>
                -Configured 15 individual coding projects in JavaScript by using concepts such as variables, data types, and functions<br>
                -Delivered a collaborative final project presentation that included a live demonstration to Google employees and community leaders</p>
        </div>
    </div>

    {{!-- Fintech Experience --}}

    <div class="Exp-last-sub-section">
        <img class="Exp-logo" src="JPMorgan_logo.jpeg">
        <div class="Exp-sub-content">
            <div class="Exp-title-location">
                <div class="Exp-sub-title-icon">
                    <h3 class="Exp-sub-title">Fintech Focus Fellow</h3>
                    <i id ="Exp-pen" class="fas fa-pen"></i>
                </div>
                <h4 class="Exp-company">JPMorgan Chase <span>&#38;</span> Co <span>&#183;</span> Internship</h4>
                <h4 class="Exp-date">Jul 2021 <span>&#183;</span> 1 mo</h4>
                <h4 class="Exp-location">New York, New York, United States</h4>
            </div>
            <p id="Exp-info-last">
                -Participated in an immersive four-week program sponsored and hosted by Bank of America, Goldman Sachs, JPMorgan Chase, Morgan Stanely, and Wells Fargo<br>
                -Built full-stack web applications using the Flask web framework, MongoDB, Python, HTML, and CSS<br>
                -Developed and iterated upon prototypes and Minimum Viable Products (MVPs), which culminated in presentations of a final web application
            </p>
        </div>
    </div>


    <div class="Edu-Section">
        <div class="Edu-title-icon">
            <h2 class="Edu-title">Education</h2>
            <i id="Edu-plus" class="fas fa-plus"></i>
        </div>
        <div class="Edu-sub-section">
            <img class="Edu-logo" src="Hunter_logo.jpeg">
            <div class="Edu-sub-content">
                <div class="Edu-title-bar">
                    <div class="Edu-sub-title-icon">
                        <h3 class="Edu-sub-title">Hunter College</h3>
                        <i id ="Edu-pen" class="fas fa-pen"></i>
                    </div>
                    <h4 class="Edu-degree">Bachelor of Arts - BA, Computer Science</h4>
                    <h4 class="Edu-year">2021 - 2025</h4>
                    {{!-- <i id="Edu-bar" class="fas fa-bars"></i> --}}
                </div>
                {{!-- <p class="Edu-info">Google Student Developer's Club | BMI Club</p> --}}
            </div>
        </div>

        <div class="Edu-sub-section">
            <img class="Edu-logo" src="Aviation_logo.jpeg">
            <div class="Edu-sub-content">
                <div class="Edu-title-bar">
                    <div class="Edu-sub-title-icon">
                        <h3 class="Edu-sub-title">Aviation High School</h3>
                        <i id ="Edu-pen" class="fas fa-pen"></i>
                    </div>
                    <h4 class="Edu-degree">High School Diploma</h4>
                    <h4 class="Edu-last-year">2017 - 2021</h4>
                    {{!-- <i id="Edu-last-bar" class="fas fa-bars"></i> --}}
                </div>
                {{!-- <p class="Edu-info">Google Student Developer's Club | BMI Club</p> --}}
            </div>
        </div> 
    </div>
</div>

<div class="skills_section">
 
        <div class ="Container Edu-sub-title-icon"> 
            <h5>Skills and endorsement</h5>
            <button class="btnskill default">Add a skill</button>
            <i id ="pen-edit" class="fas fa-pen"></i>

        </div>
  
          <button  type="button" class="button-81"  >Take a skill quiz</button>
          {{!-- <button  type="button" class="button-81" data-bs-toggle="modal" data-bs-target="#staticBackdrop"    >Take a skill quiz</button> --}}

        <p class = "Section-details"> 
        Microsoft word
        <h6> -  endorse by .......</h6>
        </p>
             <p class = "Section-details"> 
        Microsoft powerpoint
        <h6> -  endorse by .......</h6>
        </p>
</div>