<<<<<<< HEAD



 <section class="w-75 container-flex  border  pt-5 mt-4">
      <div class="pl-2 pt-2  row  font-weight-bold" >
          <div class="col mr-5 pr-5">
               <h4>Skills and  endorsements</h4>
             
               </div>
         <div class="col  btn-group ">
             <button type="button " class="btn-sm rounded-pill btn-outline-primary round ">take a skill quiz </button>
<button type="button" class="btn-sm btn-outline-secondary "><i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" type="button " data-toggle="modal" data-target="#exampleModal" class="bi bi-pencil" viewBox="0 0 16 16">
             <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
             </svg>
    </i></button>
          </div>
  <i class="fa-regular fa-pencil"></i>


      </div>
      <button type="button " class=" btn-sm rounded-pill btn-outline-primary round">take a skill quiz </button>
      <div  type="button" class=" col w-25 ml-5 button" data-toggle="modal" data-target="#exampleModal">
           Microsoft word -1
          </div>
             <div class="row-no-gutters small" >
           Endorsed by ....
          </div>
            <div  type="button" class=" col w-25  button" data-toggle="modal" data-target="#exampleModal">
           Microsoft powerpoint -1
          </div>
             <div class="row-no-gutters small" >
           Endorsed by ....
    
       <i class="fas fa-pencil-alt"></i>
=======
<div class="skills_section">
 
        <div class ="Container">
            <h6>Skills and endorsement</h6>
            <i id ="pen-edit" class="fas fa-pen"></i>
        </div>
>>>>>>> d81f7f549e9437745e3cd87121dfb1781b2e5d05
  
          <button  type="button" class="button-81"  >Take a skill quiz</button>
          {{!-- <button  type="button" class="button-81" data-bs-toggle="modal" data-bs-target="#staticBackdrop"    >Take a skill quiz</button> --}}

        <p class = "Section-details"> 
        Microsoft word
        <h6> -  endorse by .......</h6>
        </p>
             <p class = "Section-details"> 
        Microsoft powerpoint
        <h6> -  endorse by .......</h6>
        </p>
</div>
{{!--                     
{{!-- 
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div> --}} --}}