<header>
  <div class="global-nav">
    <img src="linkedln.png" alt="operating system"  viewBox="0 0 34 34"  width="34" height="34"/>
      <title>
        LinkedIn Logo
      </title>

  
    <nav class="global-nav__content">
      <span class="global-nav__home">{{#link-to "index"}}Home{{/link-to}}</span>
      <span class="global-nav__dropdown">
          <button class="global-nav__dropdown-button">
            Sprintern Pages <i class="global-nav__dropdown-caret"></i>
          </button>
          <ul class="global-nav__sprinterns">
            <li class="global-nav__sprinterns-item">{{#link-to "kevin"}}Kevin Rojas{{/link-to}}</li>
            <li class="global-nav__sprinterns-item">{{#link-to "jiamin"}}Jiamin Shi{{/link-to}}</li>
            <li class="global-nav__sprinterns-item">{{#link-to "jessica"}}Jessica Delgado{{/link-to}}</li>
            <li class="global-nav__sprinterns-item">{{#link-to "unaiza"}}Unaiza Nizami{{/link-to}}</li>
            <li class="global-nav__sprinterns-item">{{#link-to "mehruj"}}Mehruj Kamal{{/link-to}}</li>
          </ul>
      </span>
    </nav>
  </div>
</header>

<main class="main-content">
  {{outlet}}
</main>
