<div class="home-page__wrapper">
  <h1 class="home-page__title">LinkedIn Sprinterns 2022</h1>

  <section class="home-page__section home-page__section--main">
    <div class="home-page__section-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="48.11" height="48.03" viewBox="0 0 48.11 48.03" id="patent-small" data-supported-dps="48x48">
        <path fill="#788fa5" d="M2.05 26.02h6v10h-6z"/>
        <path d="M8.05 6v32a4.11 4.11 0 01-4 4h39.23a4 4 0 003.77-4.16V6z" fill="#f8c77e"/>
        <path d="M4.05 28a2.15 2.15 0 00-2-2 2 2 0 00-2 2v10a4 4 0 008 0v-2h-4z" fill="#56687a"/>
        <path fill="#e7a33e" d="M33.05 6.03v38.99l5-3.05 5 3.05V6.03h-10z"/>
        <circle cx="38.05" cy="30.02" r="6" fill="#fff"/>
        <circle cx="38.05" cy="30.02" r="4" fill="#38434f"/>
        <path fill="#fbf1e2" d="M13.05 13.02h15v9h-15zM27.05 28h-13a1 1 0 010-2h13a1 1 0 010 2zM27.05 34h-13a1 1 0 010-2h13a1 1 0 110 2z"/>
      </svg>
      <h2 class="home-page__section-title-text">The Central Question:</h2>
    </div>

    <p>How might we redesign LinkedIn Profiles specifically for students?</p>
  </section>

  <section class="home-page__section">
    <div class="home-page__section-title">
      <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg" id="lightbulb-large" data-supported-dps="48x48">
        <g fill="none" fill-rule="evenodd">
          <path d="M32 38.385V42a6 6 0 01-6 6h-4a6 6 0 01-6-6v-3.615l-1.726-4.315A13.963 13.963 0 0110 24c0-7.732 6.268-14 14-14s14 6.268 14 14c0 3.852-1.566 7.455-4.274 10.07L32 38.385z" fill="#FFF" fill-rule="nonzero"/>
          <path d="M32.035 32.913L30 38H18l-2.035-5.087A11.97 11.97 0 0112 24c0-6.627 5.373-12 12-12s12 5.373 12 12a11.97 11.97 0 01-3.965 8.913z" fill="#F1B45F"/>
          <path d="M25 30.468V38h-2v-7.59a1.015 1.015 0 01-.05-.046l-4.243-4.243a1 1 0 111.414-1.414l3.915 3.914 3.914-3.914a1 1 0 111.414 1.414l-4.243 4.243a1.007 1.007 0 01-.121.104zM29.51 43.918A4 4 0 0126 46h-4a4 4 0 01-4-4l11.51 1.918zM30 42l-12-2v-2h12z" fill="#8C5B15"/>
          <path d="M24 0a3 3 0 013 3v6a3 3 0 01-6 0V3a3 3 0 013-3zM43.364 8.879a3 3 0 010 4.242l-4.243 4.243a3 3 0 11-4.242-4.243L39.12 8.88a3 3 0 014.243 0zM4.879 8.879a3 3 0 014.242 0l4.243 4.242a3 3 0 11-4.243 4.243L4.88 13.121a3 3 0 010-4.242z" fill="#FFF" fill-rule="nonzero"/>
          <rect fill="#B77720" x="23" y="2" width="2" height="8" rx="1"/>
          <path d="M41.95 10.293a1 1 0 010 1.414l-4.243 4.243a1 1 0 01-1.414-1.414l4.243-4.243a1 1 0 011.414 0zM6.293 10.293a1 1 0 011.414 0l4.243 4.243a1 1 0 01-1.414 1.414l-4.243-4.243a1 1 0 010-1.414z" fill="#B77720"/>
        </g>
      </svg>
      <h2 class="home-page__section-title-text">To Consider:</h2>
    </div>

    <p>What are some use cases unique to students? What customizations would we allow to best showcase their individuality? What features would we want to add to improve the experience?</p>
  </section>

  <section class="home-page__section">
    <div class="home-page__section-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="48.11" height="48.03" viewBox="0 0 48.11 48.03" id="notebook-small" data-supported-dps="48x48">
        <path d="M6.33 0h6.72v48H6.33a3.21 3.21 0 01-3.28-3.14V3.16A3.23 3.23 0 016.33 0z" fill="#56687a"/>
        <path fill="#bdd7b0" d="M13.05.02h33v48h-33z"/>
        <path d="M29.05 0v17.14a.88.88 0 00.87.88.84.84 0 00.6-.25l4.51-4.47 4.51 4.47a.87.87 0 001.23 0 .79.79 0 00.25-.62V0z" fill="#fff"/>
        <path d="M14.05 10h-12a1 1 0 110-2h12a1 1 0 010 2zM14.05 20h-12a1 1 0 010-2h12a1 1 0 010 2zM14.05 30h-12a1 1 0 010-2h12a1 1 0 010 2zM14.05 40h-12a1 1 0 110-2h12a1 1 0 110 2z" fill="#c0d1e2"/>
      </svg>
      <h2 class="home-page__section-title-text">The Approach:</h2>
    </div>

    <ol class="home-page__approach">
      <li><span class="home-page__approach-title">Design</span> a new LinkedIn Profile that you think uniquely shows off who you are. Get creative :)</li>
      <li><span class="home-page__approach-title">Incorporate</span> an About, Experience, Education, and Skills Section. All other sections are up to you to decide if you want to keep or rebrand!</li>
      <li><span class="home-page__approach-title">Consider</span> additions to your profile specifically geared towards students which would improve the existing LinkedIn Profiles experience. E.g. a new Profile feature that would: help connect you to other students easier, let recruiters know where you’re looking for a job post graduation or seeking internships over full time positions, etc. </li>
      <li><span class="home-page__approach-title">Implement</span> a prototype of this new LinkedIn Profile for yourself in our single page Ember App for your specified path.</li>
      <li><span class="home-page__approach-title">Collaborate</span> with the other interns to write reusable code that everyone can leverage to reduce code duplication</li>
    </ol>
  </section>
</div>
