{{!-- Jessica, please fill out
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
crossorigin="anonymous">


{{!-- Jessica, please fill out --}}

<style>
    {{!-- css here --}}
    .paragraph{
        background-color: rgb(222, 230, 230);
    }

body {
  background-color: white;
}

h1 {
  color: black;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 14px;
}
#mkborder{
    outline-style: solid;
    outline-color: rgb(223, 219, 219);
    
}
</style>


<p class= "paragraph">
 My name is Jessica</p>
<i class="fas fa-pencil-alt"></i>



<div class = " ml-0 container  border">
{{!-- mr-4 text-centertext-wrap --}}
    ABOUT

        <div class = "col  ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
        
        
   </div>
   
             <div class="col-md-12 text-right ">
         <button type="button" class="btn-sm btn-outline-secondary ml-5 " onclick="myFunction()"  id="myBtn">... see more</button>
    </div>
</div>

<script>

</script>
{{!-- 
<div class="container">
  <div class="row">
    <div class="col align-self-start">
      One of three columns
    </div>
    <div class="col align-self-center">
      One of three columns
    </div>
    <div class="col align-self-end">
      One of three columns
    </div>
  </div>
</div> --}}
{{!-- <div class="card" style="width: 400px;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> --}}
{{!-- <div id="mkborder" >
<h1>ABOUT</h1>
<p>I am a student at Baruch College. President of Phi Theta Kappa. My major is Industrial Organizational Psychology.  I am looking to connect with mentors in the Tech space and fellow alumni.</p>
</div> --}}

<button type="button" class="btn-sm btn-outline-secondary">...See more</button> --}}


