{{!-- <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script> }} --}}

{{! ******* Education section ******** }}
<div class="c">
  <div class="c-header">
    <div class="btn1">
      <button
        type="button"
        class="btn btn-light"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        {{! Add education }}
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <h2>Education</h2>
  </div>

  <div class="btn2">
    <button
      type="button"
      class="btn btn-light"
      data-toggle="modal"
      data-target="#exampleModal1"
    >
      {{! Edit Education }}
      <i class="fas fa-pen"></i>
    </button>
  </div>

  <br />
  <div class="c-body">

    <div id="left1">
      <img src="bmcc-logo.jpg" alt="bmcc" height="90px" />
    </div>

    <div id="right1">
      <h4 class="c-title">
        Borough of Manhattan Community College</h4>
      <h5 class="c-text1">Associate of Science - AS, Computer Science</h5>
      <h5 class="c-text2">2020 - 2022</h5>
    </div>

    {{! *** Modal add education start *** }}
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add education</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {{! inside the add education modal }}
            <div class="form-group">
              <label for="inputSchool">School</label>
              <input
                type="text"
                class="form-control"
                id="inputSchool"
                placeholder="Ex: Boston University"
              />
            </div>
            <div class="form-group">
              <label for="inputDegree">Degree</label>
              <input
                type="text"
                class="form-control"
                id="inputDegree"
                placeholder="Ex: Bachelor's"
              />
            </div>
            <div class="form-group">
              <label for="inputDegree">Field of study</label>
              <input
                type="text"
                class="form-control"
                id="inputFieldOfStudy"
                placeholder="Ex: Business"
              />
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                Start Date
                <select id="inputStartDate" class="form-control">
                  <option selected>Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>2March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputStartDate"></label>
                <select id="inputStartDate" class="form-control">
                  <option selected>Year</option>
                  <option>2022</option>
                  <option>2021</option>
                  <option>2020</option>
                  <option>2019</option>
                  <option>2018</option>
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                  <option>2014</option>
                  <option>2013</option>
                  <option>2012</option>
                  <option>2011</option>
                  <option>2010</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                End Date(or expected)
                <select id="inputStartDate" class="form-control">
                  <option selected>Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>2March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputStartDate"></label>
                <select id="inputStartDate" class="form-control">
                  <option selected>Year</option>
                  <option>2032</option>
                  <option>2031</option>
                  <option>2030</option>
                  <option>2029</option>
                  <option>2028</option>
                  <option>2027</option>
                  <option>2026</option>
                  <option>2025</option>
                  <option>2024</option>
                  <option>2023</option>
                  <option>2022</option>
                  <option>2021</option>
                  <option>2020</option>
                  <option>2019</option>
                  <option>2018</option>
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                  <option>2014</option>
                  <option>2013</option>
                  <option>2012</option>
                  <option>2011</option>
                  <option>2010</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputGrade">Grade</label>
              <input
                type="text"
                class="form-control"
                id="inputGrade"
                placeholder="Ex: 3.5"
              />
            </div>
            <div class="form-group">
              <div>
                <label for="inputTextarea">Activities and societies</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="inputTextarea"
                  placeholder="Ex: Alpha Phi Omega, Marching Band, Volleyball"
                  required
                ></textarea>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="inputTextarea1">Description</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="inputTextarea1"
                ></textarea>
              </div>
            </div>
            <div class="form-group">
              <p>Media</p>
              <p>Add or link to external documents, photos, sites, videos, and
                presentations.
                <a
                  href="https://www.linkedin.com/help/linkedin/answer/34327/supported-providers-and-content-types-for-work-samples-on-your-profile"
                >Learn more</a>
              </p>
              <div class="dropdown">
                <button
                  class="btn btn-primary dropdown-toggle"
                  type="button"
                  id="dropdownMenu2"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Add Media
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Add a link</button>
                  <button class="dropdown-item" type="button">Upload a media</button>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >Close</button>
            <button
              id="save"
              onclick="save()"
              class="btn btn-primary save-details"
              type="button"
              name="save-details"
            >Save</button>
          </div>
        </div>
      </div>
    </div>
    {{! modal ”add education“ end }}

    {{! **** Modal edit education start **** }}
    <div
      class="modal fade"
      id="exampleModal1"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel1"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Edit education</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {{! inside the edit education }}
            <div class="form-group">
              <label for="inputSchool">School</label>
              <input
                type="text"
                class="form-control"
                id="inputSchool"
                placeholder="Borough of Manhattan Community College"
              />
            </div>
            <div class="form-group">
              <label for="inputDegree">Degree</label>
              <input
                type="text"
                class="form-control"
                id="inputDegree"
                placeholder="Associate of Science - AS"
              />
            </div>
            <div class="form-group">
              <label for="inputDegree">Field of study</label>
              <input
                type="text"
                class="form-control"
                id="inputFieldOfStudy"
                placeholder="Computer Science"
              />
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                Start Date
                <select id="inputStartDate" class="form-control">
                  <option selected>August</option>
                  <option>January</option>
                  <option>February</option>
                  <option>2March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputStartDate"></label>
                <select id="inputStartDate" class="form-control">
                  <option selected>2020</option>
                  <option>2022</option>
                  <option>2021</option>
                  <option>2020</option>
                  <option>2019</option>
                  <option>2018</option>
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                  <option>2014</option>
                  <option>2013</option>
                  <option>2012</option>
                  <option>2011</option>
                  <option>2010</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                End Date(or expected)
                <select id="inputStartDate" class="form-control">
                  <option selected>May</option>
                  <option>January</option>
                  <option>February</option>
                  <option>2March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputStartDate"></label>
                <select id="inputStartDate" class="form-control">
                  <option selected>2022</option>
                  <option>2032</option>
                  <option>2031</option>
                  <option>2030</option>
                  <option>2029</option>
                  <option>2028</option>
                  <option>2027</option>
                  <option>2026</option>
                  <option>2025</option>
                  <option>2024</option>
                  <option>2023</option>
                  <option>2022</option>
                  <option>2021</option>
                  <option>2020</option>
                  <option>2019</option>
                  <option>2018</option>
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                  <option>2014</option>
                  <option>2013</option>
                  <option>2012</option>
                  <option>2011</option>
                  <option>2010</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputGrade">Grade</label>
              <input
                type="text"
                class="form-control"
                id="inputGrade"
                placeholder="Ex: 3.5"
              />
            </div>
            <div class="form-group">
              <div>
                <label for="inputTextarea">Activities and societies</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="inputTextarea"
                  placeholder="Ex: Alpha Phi Omega, Marching Band, Volleyball"
                  required
                ></textarea>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="inputTextarea1">Description</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="inputTextarea1"
                ></textarea>
              </div>
            </div>
            <div class="form-group">
              <p>Media</p>
              <p>Add or link to external documents, photos, sites, videos, and
                presentations.
                <a
                  href="https://www.linkedin.com/help/linkedin/answer/34327/supported-providers-and-content-types-for-work-samples-on-your-profile"
                >Learn more</a>
              </p>
              <div class="dropdown">
                <button
                  class="btn btn-primary dropdown-toggle"
                  type="button"
                  id="dropdownMenu2"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Add Media
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Add a link</button>
                  <button class="dropdown-item" type="button">Upload a media</button>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >Close</button>
            <button
              id="save"
              onclick="save()"
              class="btn btn-primary save-details"
              type="button"
              name="save-details"
            >Save</button>
          </div>
        </div>
      </div>
    </div>
    {{! Modal "edit education" end }}
  </div>
</div>
{{! ********* Education end here*******}}
<br />

{{! ********** Experience section ************}}
<div class="c">
  <div class="c-header">
    <div class="btn1">
      <i class="fas fa-plus"></i>
    </div>
    <h2>Experience</h2>
  </div>

  <div class="btn2">
    <i class="fas fa-pen"></i>
  </div>

  <br />
  <div class="c-body">

    <div id="left1">
      <img src="linkedin-logo1.jpg" alt="linkedin-logo" height="90px" />
    </div>

    <div id="right1">
      <h4 class="c-title">
        Software Engineer</h4>
      <h5 class="c-text1">LinkedIn · Internship</h5>
      <h5 class="c-text2">Jan 2020 - Present · 1 mo</h5>
    </div>
  </div>
</div>
{{! ********** Experience section end here ************}}
<br />

<br />

{{! *********** Project section ************ }}
<div class="c">

  <div class="c-header">
    <div class="btn1">
      <i class="fas fa-plus"></i>
    </div>
    <h2>Project</h2>
  </div>

  <div class="btn2">
    <i class="fas fa-pen"></i>
  </div>

  <br />
  <div class="timeline">
    <div class="container1 right">
      <div class="content">
        <h4>
          LinkedIn
          <img src="linkedin-logo1.jpg" alt="linkedin-logo" height="20px" />
        </h4>
        <h6 class="datetext-color">Jan 2022 - Present</h6>
        <p>Five interns worked together for three weeks on a LinkedIn profile
          created specifically for students to find jobs and make connections
          with others using Ember.js, HTML, CSS, and JAVASCRIPT.</p>
        <br />
        <div class="right-bottom">
          <a href="#">
            See my project
          </a>
        </div>
      </div>
    </div>
    <div class="container1 right">
      <div class="content">
        <h4>
          CSC 211
          <img src="bmcc-logo.jpg" alt="bmcc" height="40px" />
        </h4>
        <h6 class="datetext-color">Dec 2021 - Dec 2021</h6>
        <p>Independently complete the final project for CSC 211 in one week.
          create a Date Project in C++ so that it can calculate what day of the
          week any date is, how many days have passed in the year, how many days
          are left, and what day all holidays are in any year, etc.</p>
        <br />
        <div class="right-bottom">
          <a href="#">
            See my project
          </a>
        </div>
      </div>
    </div>
    <div class="container1 right">
      <div class="content">
        <h4>
          CIS 385
          <img src="bmcc-logo.jpg" alt="bmcc" height="40px" />
        </h4>
        <h6 class="datetext-color">Nov 2021 - Dec 2021</h6>
        <p>Independently complete a dynamic web page in three weeks, using HTML,
          CSS, JAVASCRIPT to make it work as a normal shopping process. For
          example: adding to the shopping cart, adding and removing items,
          calculating the final additions, completing the purchase, etc.</p>
        <br />
        <div class="right-bottom">
          <a href="#">
            See my project
          </a>
        </div>
      </div>
    </div>
    <div class="container1 right">
      <div class="content">
        <h4>
          CSC 101
          <img src="bmcc-logo.jpg" alt="bmcc" height="40px" />
        </h4>
        <h6 class="datetext-color">Nov 2020 - Dec 2020</h6>
        <p>Complete the introduction of Android development system and
          additional extensions in one month. Introducing Application Framework,
          Libraries, Android Runtime, Linux Kernel, etc.</p>
        <br />
        <div class="right-bottom">
          <a href="#">
            See my project
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
{{! *********** Project section end here ************ }}
{{! ****** Learning section start ******* }}

<div class="c">
  <div class="c-header">
    <div class="btn1">
      <i class="fas fa-plus"></i>
    </div>
    <h4>LinkedIn Learning Course</h4>
  </div>

  <div class="btn2">
    <i class="fas fa-pen"></i>
  </div>

  <br />
  <div class="c-body">

    <div id="left1">
      <img src="SQL-logo.jpg" alt="SQL-logo" height="60px" />
    </div>
    <div id="right1">
      <h5 class="c-title">
        SQL Essential Traning</h5>
      <h6 class="c-text2">Completed 01/10/2022</h6>
      <hr />
    </div>

    <div id="left1">
      <img src="python-logo.jpg" alt="python-logo" height="60px" />
    </div>
    <div id="right1">
      <h5 class="c-title">
        Learning Python (2020)</h5>
      <h6 class="c-text2">Completed 12/05/2021</h6>
      <hr />
    </div>

    <div id="left1">
      <img src="excel-logo.jpg" alt="excel-logo" height="60px" />
    </div>
    <div id="right1">
      <h5 class="c-title">
        Excel: Lookup Function in Depth</h5>
      <h6 class="c-text2">Completed 08/14/2021</h6>
    </div>
  </div>

</div>

{{! ****** Learning section end here ******* }}

{{! Container end here }}