


<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "see more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "see less"; 
    moreText.style.display = "inline";
  }
}
</script>


<div class="container">
  <div class="con">

    <h4>Genius is one percent inspiration and ninety-nine percent perspiration.</h4>
    <hr />
    <p class="author">Thomas Edison</p>
    <div class="buttons"><a
        class="twitter-share-button"
        href="https://twitter.com/intent/tweet?text=Hello%20world"
      > Tweet</a>
      <div class="camera1">
        <div class="btn-group dropend">
          <button
            type="button"
            class="camera dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="camera1.png" id="camera" alt="Responsive image" />
          </button>
          <ul class="dropdown-menu" id="dropdown-color">
            <li><a class="dropdown-item" href="#">Upload Photo</a></li>
            <li><a class="dropdown-item" href="#">Delete Photo</a></li>
            <li><a class="dropdown-item" href="#">Customize Photo</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <img src="pfp.jpg" alt="This is a small profile image of mk" class="avatar" />
  {{! head section }}
  <div class="flexy">
    <div class="new-paragraph">
      <h5 class="card-title">Mehruj Kamal</h5>
      <p class="card-text">Student At CUNY Queens College
        <a href="https://www.linkedin.com/school/queens-college/">
          <img
            alt="linkedinlogo"
            src="linkedinlogo.png"
            width="20"
            height="20"
          />
        </a>
      </p>
      <p>
        New York City Metropolitan Area

        <a
          href="https://www.google.com/maps/place/Queens,+NY/@40.6509334,-74.011276,11z/data=!3m1!4b1!4m5!3m4!1s0x89c24369470a592b:0x4109d18b6c5c7b05!8m2!3d40.7282239!4d-73.7948516"
        >
          <img alt="contact" src="map.jpg" width="20" height="20" />
        </a>
      </p>
      <p style="color:blue"> 192 connections</p>
      <div class="dropdown">
        <button
          class="button-21 dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Open To
        </button>
        <ul
          class="dropdown-color dropdown-menu"
          id="dropdown-color"
          aria-labelledby="dropdownMenuButton1"
        >
          <li><a class="dropdown-item" href="#">Hiring</a></li>
          <li><a class="dropdown-item" href="#">Providing Services</a></li>
        </ul>
        <button
          class="button-21 dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >+</button>
        <ul
          class="dropdown-menu"
          id="dropdown-color"
          aria-labelledby="dropdownMenuButton1"
        >
          <li><a class="dropdown-item" href="#">Intro</a></li>
          <li><a class="dropdown-item" href="#">About</a></li>
          <li><a class="dropdown-item" href="#">Feature</a></li>
          <li><a class="dropdown-item" href="#">Background</a></li>
          <li><a class="dropdown-item" href="#">Skills</a></li>
          <li><a class="dropdown-item" href="#">Accomplishments</a></li>
          <li><a class="dropdown-item" href="#">Additional Info</a></li>
          <li><a class="dropdown-item" href="#">Supported Language</a></li>
        </ul>
        <button
          class="button-21 dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >More</button>
        <ul
          class="dropdown-menu"
          id="dropdown-color"
          aria-labelledby="dropdownMenuButton1"
        >
          <li><a class="dropdown-item" href="#">Share Profile</a></li>
          <li><a class="dropdown-item" href="#">Save as Pdf</a></li>
          <li><a class="dropdown-item" href="#">Build a resume</a></li>

        </ul>
      </div>
    </div>
    <div class="second-head">
      <p>
        Contact Information:

        <a href="mailto:mehruj277@gmail.com">
          <img alt="contact" src="contact.png" width="20" height="20" />
        </a>
      </p>
      <p>
        Software Engineer Intern at Linkedin
        <a href="https://www.linkedin.com/company/linkedin/">
          <img
            alt="linkedin logo"
            src="linkedinlogo.png"
            width="20"
            height="20"
          />
        </a>
      </p>
    </div>
  </div>

  {{!-- <div class="card" id="roundcorners" style="width: 20rem;">

    <img
      src="pfp.jpg"
      alt="This is a small profile image of mk"
      class="avatar"
    />

    <div class="card-body">
      <h5 class="card-title">Mehruj Kamal</h5>
      <p class="card-text">Student At CUNY Queens College
        <a href="https://www.linkedin.com/school/queens-college/">
          <img
            alt="linkedinlogo"
            src="linkedinlogo.png"
            width="20"
            height="20"
          />
        </a>
      </p>
      <p>
        New York City Metropolitan Area

        <a href="mailto:mehruj277@gmail.com">
          <img alt="contact" src="contact.png" width="20" height="20" />
        </a>
      </p>
      {{! <a href="#" class="btn btn-primary">Go somewhere</a> }}
      <div class="dropdown">
        <button
          class="button-18 dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Open To
        </button>
        <ul
          class="dropdown-color dropdown-menu"
          id="dropdown-color"
          aria-labelledby="dropdownMenuButton1"
        >
          <li><a class="dropdown-item" href="#">Hiring</a></li>
          <li><a class="dropdown-item" href="#">Providing Services</a></li>
        </ul>
        <button
          class="button-18 dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >+</button>
        <ul
          class="dropdown-menu"
          id="dropdown-color"
          aria-labelledby="dropdownMenuButton1"
        >
          <li><a class="dropdown-item" href="#">Intro</a></li>
          <li><a class="dropdown-item" href="#">About</a></li>
          <li><a class="dropdown-item" href="#">Feature</a></li>
          <li><a class="dropdown-item" href="#">Background</a></li>
          <li><a class="dropdown-item" href="#">Skills</a></li>
          <li><a class="dropdown-item" href="#">Accomplishments</a></li>
          <li><a class="dropdown-item" href="#">Additional Info</a></li>
          <li><a class="dropdown-item" href="#">Supported Language</a></li>
        </ul>
        <button
          class="button-18 dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >More</button>
        <ul
          class="dropdown-menu"
          id="dropdown-color"
          aria-labelledby="dropdownMenuButton1"
        >
          <li><a class="dropdown-item" href="#">Share Profile</a></li>
          <li><a class="dropdown-item" href="#">Save as Pdf</a></li>
          <li><a class="dropdown-item" href="#">Build a resume</a></li>

        </ul>
      </div>

    </div>
  </div> --}}
  {{! <div style="width:300px">
    <a
      class="twitter-timeline"
      href="https://twitter.com/CUNY?ref_src=twsrc%5Etfw%22%3E"
    >Tweets by CUNY"></a>

  </div> }}
  {{! <div id="myDIV" class="header">
    <h2>Most Visited Links</h2>
    <input type="text" id="myInput" placeholder="Title..." />
    <span onclick="newElement()" class="addBtn">Add</span>
  </div>

  <ul id="myUL">
    <li>LinedinLearning.com</li>
    <li class="checked">Lynda.com</li>
    <li>Udemy.com</li>
    <li>Coursera.com</li>
  </ul> }}
</div>
{{!-- 
   <div class="col-4">
      One of two columns
      <h6> One of two columns</h6>
    </div>
    <div class="col-4">
      One of two columns
    </div> --}}
  <div class="row justify-content-around">
      <div class="col-8">



      <div class="About-Section ">
          <div class="About-title-icon">
              <h2 class="About-title">About</h2>
              <i id ="About-pen" class="fas fa-pen"></i>
          </div>
              <p class="About-Info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
                  inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                
                  <span id="dots">...</span><span id="more"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                  sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                  Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                  adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                  magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
                  ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem 
                  vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
                  vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</span>
              </p>
              <button onclick="myFunction()" id="myBtn">see more</button>
      </div>


      <div class="Exp-Section">
          <div class="Exp-title-icon">
              <h2 class="Exp-title">Experience</h2>
              <i id="Exp-plus" class="fas fa-plus"></i>
          </div>
          {{!-- Linkedin Experience --}}
          <div class="Exp-sub-section">
              <img class="Exp-logo" src="Linkedin_logo.jpeg">
              <div class="Exp-sub-content">
                  <div class="Exp-title-location">
                      <div class="Exp-sub-title-icon">
                          <h3 class="Exp-sub-title">Software Engineer Intern</h3>
                          <i id ="Exp-pen" class="fas fa-pen"></i>
                      </div>
                      <h4 class="Exp-company">Linkedin <span>&#183;</span> Internship</h4>
                      <h4 class="Exp-date">Jan 2022 - Present <span>&#183;</span> 1 mo</h4>
                      <h4 class="Exp-location">New York, New York, United States</h4>
                  </div>
                  <p class="Exp-info">-Developing a Linkedin Profile for students</p>
              </div>
          </div>

          {{!-- RippleMatch Experience --}}

          <div class="Exp-sub-section">
              <img class="Exp-logo" src="RippleMatch_logo.jpeg">
              <div class="Exp-sub-content">
                  <div class="Exp-title-location">
                      <div class="Exp-sub-title-icon">
                          <h3 class="Exp-sub-title">Leadership Development Intern</h3>
                          <i id ="Exp-pen" class="fas fa-pen"></i>
                      </div>
                      <h4 class="Exp-company">RippleMatch <span>&#183;</span> Internship</h4>
                      <h4 class="Exp-date">Oct 2021 - Nov 2021 <span>&#183;</span> 1 mo</h4>
                      <h4 class="Exp-location">New York, New York, United States</h4>
                  </div>
                  <p class="Exp-info">
                      -Selected from a pool of thousands of candidates to work closely with leaders of RippleMatch’s Leadership Team<br>
                      -Leveraged various growth strategies and tools including social media, email marketing, presentations, and peer and faculty member networking to grow the user base and awareness on campus<br>
                      -Strategically assessed growth and performance metrics to improve, change and/or help design new growth strategies
                  </p>
              </div>
          </div>

          {{!-- Google Experience --}}

          <div class="Exp-sub-section">
              <img class="Exp-logo" src="Google_logo.jpeg">
              <div class="Exp-sub-content">
                  <div class="Exp-title-location">
                      <div class="Exp-sub-title-icon">
                          <h3 class="Exp-sub-title">Google CSSI</h3>
                          <i id ="Exp-pen" class="fas fa-pen"></i>
                      </div>
                      <h4 class="Exp-company">Google <span>&#183;</span> Internship</h4>
                      <h4 class="Exp-date">July 2021 - August 2021 <span>&#183;</span> 2 mos</h4>
                      <h4 class="Exp-location">New York, New York, United States</h4>
                  </div>
                  <p class="Exp-info">
                      -Participated in a 4-week intensive computer science summer program for high-achieving students<br>
                      -Completed an introductory project-based JavaScript processing curriculum taught by Google engineers<br>
                      -Configured 15 individual coding projects in JavaScript by using concepts such as variables, data types, and functions<br>
                      -Delivered a collaborative final project presentation that included a live demonstration to Google employees and community leaders</p>
              </div>
          </div>

          {{!-- Fintech Experience --}}

          <div class="Exp-last-sub-section">
              <img class="Exp-logo" src="JPMorgan_logo.jpeg">
              <div class="Exp-sub-content">
                  <div class="Exp-title-location">
                      <div class="Exp-sub-title-icon">
                          <h3 class="Exp-sub-title">Fintech Focus Fellow</h3>
                          <i id ="Exp-pen" class="fas fa-pen"></i>
                      </div>
                      <h4 class="Exp-company">JPMorgan Chase <span>&#38;</span> Co <span>&#183;</span> Internship</h4>
                      <h4 class="Exp-date">Jul 2021 <span>&#183;</span> 1 mo</h4>
                      <h4 class="Exp-location">New York, New York, United States</h4>
                  </div>
                  <p id="Exp-info-last">
                      -Participated in an immersive four-week program sponsored and hosted by Bank of America, Goldman Sachs, JPMorgan Chase, Morgan Stanely, and Wells Fargo<br>
                      -Built full-stack web applications using the Flask web framework, MongoDB, Python, HTML, and CSS<br>
                      -Developed and iterated upon prototypes and Minimum Viable Products (MVPs), which culminated in presentations of a final web application
                  </p>
              </div>
          </div>


          <div class="Edu-Section">
              <div class="Edu-title-icon">
                  <h2 class="Edu-title">Education</h2>
                  <i id="Edu-plus" class="fas fa-plus"></i>
              </div>
              <div class="Edu-sub-section">
                  <img class="Edu-logo" src="Hunter_logo.jpeg">
                  <div class="Edu-sub-content">
                      <div class="Edu-title-bar">
                          <div class="Edu-sub-title-icon">
                              <h3 class="Edu-sub-title">Hunter College</h3>
                              <i id ="Edu-pen" class="fas fa-pen"></i>
                          </div>
                          <h4 class="Edu-degree">Bachelor of Arts - BA, Computer Science</h4>
                          <h4 class="Edu-year">2021 - 2025</h4>
                          {{!-- <i id="Edu-bar" class="fas fa-bars"></i> --}}
                      </div>
                      {{!-- <p class="Edu-info">Google Student Developer's Club | BMI Club</p> --}}
                  </div>
              </div>

              <div class="Edu-sub-section">
                  <img class="Edu-logo" src="Aviation_logo.jpeg">
                  <div class="Edu-sub-content">
                      <div class="Edu-title-bar">
                          <div class="Edu-sub-title-icon">
                              <h3 class="Edu-sub-title">Aviation High School</h3>
                              <i id ="Edu-pen" class="fas fa-pen"></i>
                          </div>
                          <h4 class="Edu-degree">High School Diploma</h4>
                          <h4 class="Edu-last-year">2017 - 2021</h4>
                          {{!-- <i id="Edu-last-bar" class="fas fa-bars"></i> --}}
                      </div>
                      {{!-- <p class="Edu-info">Google Student Developer's Club | BMI Club</p> --}}
                  </div>
              </div> 
          </div>
      </div>

      <div class="skills_section ">
      
              <div class ="Container Edu-sub-title-icon"> 
                  <h5>Skills and endorsement</h5>
                  <button class="btnskill default">Add a skill</button>
                  <i id ="pen-edit" class="fas fa-pen"></i>

              </div>
        
                <button  type="button" class="button-81"  >Take a skill quiz</button>
                {{!-- <button  type="button" class="button-81" data-bs-toggle="modal" data-bs-target="#staticBackdrop"    >Take a skill quiz</button> --}}

              <p class = "Section-details"> 
              Microsoft word
              <h6> -  endorse by .......</h6>
              </p>
                  <p class = "Section-details"> 
              Microsoft powerpoint
              <h6> -  endorse by .......</h6>
              </p>
      </div>
      
      <div class="skills_section">
      
              <div class ="Container Edu-sub-title-icon"> 
                  <h5>Skills and endorsement</h5>
                  <button class="btnskill default">Add a skill</button>
                  <i id ="pen-edit" class="fas fa-pen"></i>

              </div>
        
                <button  type="button" class="button-81"  >Take a skill quiz</button>
                {{!-- <button  type="button" class="button-81" data-bs-toggle="modal" data-bs-target="#staticBackdrop"    >Take a skill quiz</button> --}}

        
      </div>


    </div>

     <div class="col-4 mt-3">
          <div class="skills_section">
      
              <div class ="Container Edu-sub-title-icon"> 
                  <h5>Connections</h5>

              </div>
        
                <button  type="button" class="button-81"  >Take a skill quiz</button>
                {{!-- <button  type="button" class="button-81" data-bs-toggle="modal" data-bs-target="#staticBackdrop"    >Take a skill quiz</button> --}}

        
      </div>
                <div class="skills_section">
      
              <div class ="Container Edu-sub-title-icon"> 
                  <h5>Connections</h5>

              </div>
        
                <button  type="button" class="button-81"  >Take a skill quiz</button>
                {{!-- <button  type="button" class="button-81" data-bs-toggle="modal" data-bs-target="#staticBackdrop"    >Take a skill quiz</button> --}}

        
      </div>
                <div class="skills_section">
      
              <div class ="Container Edu-sub-title-icon"> 
                  <h5>Connections</h5>

              </div>
        
                <button  type="button" class="button-81"  >Take a skill quiz</button>
                {{!-- <button  type="button" class="button-81" data-bs-toggle="modal" data-bs-target="#staticBackdrop"    >Take a skill quiz</button> --}}

        
      </div>
      
{{!-- ********** Experience section ************--}}
<div class="c">
  <div class="c-header">
    <div class="btn1">
       <i class="fas fa-plus"></i>
    </div>
    <h2>Experience</h2>
  </div>


<div class="btn2">
       <i class="fas fa-pen"></i>
    </div>

<br>
  <div class="c-body">

    <div id="left1">
    <img src="linkedin-logo1.jpg" alt="linkedin-logo"height="90px"/>
    </div>
  
    <div id="right1">
    <h4 class="c-title">
        Software Engineer</h4>
    <h5 class="c-text1">LinkedIn · Internship</h5>
    <h5 class="c-text2">Jan 2020 - Present · 1 mo</h5>
    </div>
</div>
</div>
{{!-- ********** Experience section end here ************--}}
<br>

{{!-- ****** Learning section start ******* --}}
<div class="c">
  <div class="c-header">
    <div class="btn1">
       <i class="fas fa-plus"></i>
    </div>
    <h2>LinkedIn Learning Course</h2>
  </div>


<div class="btn2">
       <i class="fas fa-pen"></i>
    </div>

<br>
  <div class="c-body">

    <div id="left1">
    <img src="SQL-logo.jpg" alt="SQL-logo"height="60px"/>
    </div> 
    <div id="right1">
    <h4 class="c-title">
        SQL Essential Traning</h4>
    <h5 class="c-text2">Completed 01/10/2022</h5>
    <hr>
    </div>


 <div id="left1">
    <img src="python-logo.jpg" alt="python-logo"height="60px"/>
    </div> 
    <div id="right1">
    <h4 class="c-title">
        Learning Python (2020)</h4>
    <h5 class="c-text2">Completed 12/05/2021</h5>
    <hr>
    </div>


 <div id="left1">
    <img src="excel-logo.jpg" alt="excel-logo"height="60px"/>
    </div>
    <div id="right1">
    <h4 class="c-title">
        Excel: Lookup Function in Depth</h4>
    <h5 class="c-text2">Completed 08/14/2021</h5>
    </div>
</div>

</div>
{{!-- ****** Learning section end here ******* --}}

    </div> 
 
  </div>

<footer class="py-5">
     <img src="logo.jpg" height="40px"/>
   <div class="row">
     <div class="col-2">
       <ul class="nav flex-column">
         <li class="nav-item mb-2"><a href="https://about.linkedin.com/" class="nav-link p-0 text-muted">About</a></li>
         <li class="nav-item mb-2"><a href="https://www.linkedin.com/legal/privacy-policy" class="nav-link p-0 text-muted">Privacy & Terms</a></li>
         <li class="nav-item mb-2"><a href="https://business.linkedin.com/sales-solutions?trk=flagship_nav&veh=li-footer-lss-control&src=li-footer" class="nav-link p-0 text-muted">Sales Solution</a></li>
         <li class="nav-item mb-2"><a href="https://safety.linkedin.com/" class="nav-link p-0 text-muted">Safety Center</a></li>
       </ul>
     </div>
 
     <div class="col-2">
       <ul class="nav flex-column">
         <li class="nav-item mb-2"><a href="https://www.linkedin.com/accessibility" class="nav-link p-0 text-muted">Accessibility</a></li>
         <li class="nav-item mb-2"><a href="https://careers.linkedin.com/" class="nav-link p-0 text-muted">Careers</a></li>
         <li class="nav-item mb-2"><a href="https://www.linkedin.com/help/linkedin/answer/62931" class="nav-link p-0 text-muted">Ad Choices</a></li>
         <li class="nav-item mb-2"><a href="https://mobile.linkedin.com/" class="nav-link p-0 text-muted">Mobile</a></li>
       </ul>
     </div>
 
     <div class="col-2">
       <ul class="nav flex-column">
         <li class="nav-item mb-2"><a href="https://business.linkedin.com/talent-solutions?trk=flagship_nav&veh=li-footer-lts-control&src=li-footer" class="nav-link p-0 text-muted">Talent Solutions</a></li>
         <li class="nav-item mb-2"><a href="https://business.linkedin.com/marketing-solutions/ads" class="nav-link p-0 text-muted">Advertising</a></li>
         <li class="nav-item mb-2"><a href="https://business.linkedin.com/grow?&src=li-footer" class="nav-link p-0 text-muted">Small Business</a></li>
         <li class="nav-item mb-2"><a href="https://www.linkedin.com/help/linkedin?trk=d_flagship3_profile_view_base" class="nav-link p-0 text-muted">Questions?</a></li>
       </ul>
     </div>
{{!--  
<div class="timeline">
  <div class="container1 left">
    <div class="content">
    <h4>
      LinkedIn
      <img src="linkedin-logo.png" alt="linkedin-logo" height="30px"/>
    </h4>
      <h6 class="datetext-color">Jan 2022 - Present</h6>
      <p>Five interns worked together for three weeks on a LinkedIn profile created specifically for students to find jobs and make connections with others using Ember.js, HTML, CSS, and JAVASCRIPT.</p>
      <br>
      <div class="right-bottom">
        <a href="#">
        See my project
        </a>
      </div>
    </div>
  </div>
  <div class="container1 right">
    <div class="content">
      <h4>
        CSC 211
        <img src="bmcc-logo.jpg" alt="bmcc" height="40px"/>
      </h4>
      <h6 class="datetext-color">Dec 2021 - Dec 2021</h6>
      <p>Independently complete the final project for CSC 211 in one week. create a Date Project in C++ so that it can calculate what day of the week any date is, how many days have passed in the year, how many days are left, and what day all holidays are in any year, etc.</p>
      <br>
      <div class="right-bottom">
        <a href="#">
        See my project
        </a>
      </div>
   </div>
  </div>
  <div class="container1 left">
    <div class="content">
      <h4>
        CIS 385
        <img src="bmcc-logo.jpg" alt="bmcc" height="40px"/>
      </h4>
      <h6 class="datetext-color">Nov 2021 - Dec 2021</h6>
      <p>Independently complete a dynamic web page in three weeks, using HTML, CSS, JAVASCRIPT to make it work as a normal shopping process. For example: adding to the shopping cart, adding and removing items, calculating the final additions, completing the purchase, etc.</p>
      <br>
      <div class="right-bottom">
        <a href="#">
        See my project
        </a>
      </div>
    </div>
  </div>
  <div class="container1 right">
    <div class="content">
      <h4>
        CSC 101
        <img src="bmcc-logo.jpg" alt="bmcc" height="40px"/>
      </h4>
      <h6 class="datetext-color">Nov 2020 - Dec 2020</h6>
      <p>Complete the introduction of Android development system and additional extensions in one month. Introducing Application Framework, Libraries, Android Runtime, Linux Kernel, etc.</p>
      <br>
      <div class="right-bottom">
        <a href="#">
        See my project
        </a>
      </div>
    </div>
  </div>
 </div>








 --}}





 
    <div class="col-5">
       <form>
         <div class="d-flex w-100 gap-2">
           Seclect Language
     <select id="inputStartDate" class="form-control">
       <option selected>English (English)</option>
       <option>Dansk (Danish)</option>
       <option>Deutsch (German)</option>
       <option>Español (Spanish)</option>
       <option>Français (French)</option>
       <option>Nederlands (Dutch)</option>
       <option>简体中文 (Chinese (Simplified)</option>
       <option>日本语 (Japanese)</option>
       <option>Italiano (Italian)</option>
       <option>Polski (Polish)</option>
       <option>Русский (Russian)</option>
       <option>Ελληνική (Greek)</option>
       <option>Svenska (Swedish)</option>
     </select>
         </div>
       </form>
     </div>
   </div>
 
   <div class="d-flex justify-content-between py-4 my-4 border-top">
     <p>LinkedIn Corporation &copy; 2022</p>
   </div>
 </footer>
 

