

















{{!-- 
{{#each model as |quotes|}}
<h3>{{quotes.quotes}}</h3>
{{/each}} --}}
{{!-- 
<Unaiza::Profile/>
{{!-- <Unaiza::About/> --}}
<Unaiza::Education />
<Unaiza::Experience />
<Unaiza::Skills/>


 --}}
