
  <div class="row ">
      <div class="col-md-8">

<Unaiza::topprofile/>
<Unaiza::About/>
 <Unaiza::Technicalskills/>
<Unaiza::Project/>
<Unaiza::skills/>
<Unaiza::Learning/>
 <Unaiza::experience/>
 <Unaiza::Licenses/>
    </div>

     <div class="col-md-4 mt-3">

       {{!-- START OF CONNECT SECTION --}}
      <div class="connect_section">

        <div class="Container Edu-sub-title-icon">
          <h6>LinkedIn U connections</h6>
          <i id="pen-edit" class="fas fa-pen"></i>
        </div>

      <div class= "clearfix">
          <img  src="Kevin.jpg"
        alt="Profilepic of "
        align= "left"
        class=" float-left profileconnect "
      />
       
          <h6 class= "text">Kevin Rojas</h6>
          <h6 class= "text2"> Linkedin SWE intern| Google CSSI'2021 </h6>
    <button  tabindex="0" type="button"   class="buttonconnect">+ Connect</button>


</div>

      <div class= "clearfix">
    
          <img  src="unaiza.jpg"
        alt="Profilepic of "
        align= "left"
        class="float-left profileconnect"
      />
    <h6 class= "text"> - Unaiza Nizami</h6>
    <h6 class= "text2"> Linkedin SWE intern|Fellow at CTP  </h6>
         <button  tabindex="0" type="button"   class="buttonconnect">+ Connect</button>

</div>


      <div class= "clearfix">
    
          <img  src="jessica.jpg"
        alt="Profilepic of "
        align= "left"
        class="float-left profileconnect"
      />
    <h6 class= "text"> - Jessica Delgado</h6>
    <h6 class= "text2"> Linkedin SWE intern| Industrial Organizational Psycology </h6>
         <button  tabindex="0" type="button"   class="buttonconnect">+ Connect</button>


</div>
<button class="btnconnect info">Show more connections -></button>

      </div>

{{!-- endd of connect section --}} {{! events you migh tbe interested in  }}
 {{! copy from here }}

      <div id="myDIV" class="header header2">
        <p>Events You Might Be Interested In</p>
      </div>

      <ul id="myUL" class="interest-list event-ul">
        <li style="font-size: 9pt">
          <img src="WIT1.jpg" alt="WIT" width="30" height="30" /><b>
            &nbsp; Women In Tech- CUNY Chapter</b>
          <br />
          Feb 1st 2022, 4pm
          <br />
          <button class="button-4" style="font-size: 10pt">+RSVP</button></li>
        <li class="checked" style="font-size: 9pt">
          <img src="WIT2.jpg" alt="WIT" width="30" height="30" /><b>
            &nbsp; Women Who Code</b>
          <br />
          Dec 1st 2021, 1pm<br />
          <button class="button-4" style="font-size: 10pt">+RSVP</button></li>
        <li style="font-size: 9pt">
          <img src="WIT3.jpg" alt="WIT" width="30" height="30" /><b>
            &nbsp; Python Bootcamp</b>
          <br />
          Jan 29th 2022, 2pm<br />
          <button class="button-4" style="font-size: 10pt">+RSVP</button></li>
      </ul>

  <div class="tweet">
        <a
          class="twitter-timeline"
          href="https://twitter.com/CUNY?ref_src=twsrc%5Etfw%22%3E"
        >Tweets by CUNY"></a>

      </div>

      <img
        src="ad.png"
        alt="Job Advertisement"
        width="100%;"
        height="250"
        id="ad-image"
      />


    </div> 
 
  </div>
<Unaiza::footer/>